apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-app
  labels:
    app: sample-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sample-app
  template:
    metadata:
      labels:
        app: sample-app
    spec:
      imagePullSecrets:
        - name: ghcr-creds
      containers:
        - name: sample-app
          image: ghcr.io/syntaxnow-labs/sample-app:latest
          ports:
            - containerPort: 9090
